.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Hackathons
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li(class=title == 'Rules' ? 'active' : undefined)
          a(href='/rules') Rules
        li(class=title == 'Categories' ? 'active' : undefined)
          a(href='/categories') Categories
        li(class=title == 'Prizes' ? 'active' : undefined)
          a(href='/prizes') Prizes
        li(class=title == 'Judging' ? 'active' : undefined)
          a(href='/judging') Judging
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li(class=title== 'Create' ? 'active' : undefined)
            a(href='/events/create')
              div.create-hack Create Hack
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              if user.judge === true
                li(class=title == 'Admin' ? 'active' : undefined)
                  a(href='/admin') Admin
              li
                a(href='/account') My Account
                a(href='/events/my') My Hacks
              li.divider
              li
                a(href='/logout') Logout